<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Login Test">
    <test name="Regression Testing">
        <groups>
            <run>
                <include name="SmokeTest"></include>
                <exclude name="RegressionTest"></exclude>
            </run>
        </groups>
    </test>
</suite>
